

section.wrapper{
    text-align: center;
}

canvas{
    display: inline;
    outline: 1px solid red;
    max-height: 70vh;
    max-width: 100vw;
}

/*
button{
    position: absolute;
    left:50%;
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 20px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 8%;
    margin-top:20px;
}
*/

button{
    border:none;
    position:absolute;
    left: 700px;
    color:white;
    padding:35px;
    text-align: center;
    display: inline-block;
    font-size:16px;
    margin:4px 2px;
    transition-duration: 0.4;
    cursor: pointer;
}

.btn{
    background-color: white;
    color: black;
    border:2px solid #c1d179;
}

.btn:hover{
    background-color: #c1d179;
    color:white;
}